@use "../utils/utils.scss" as *;
@use "../utils/colors.scss" as *;

.image-gallery {
  @include use-space();
  @include place-in(none, none, none, row nowrap);

  @media screen and (max-width: 700px) {
    @include place-in(none, none, none, row wrap);
  }

  &:hover &__item:not(:hover),
  &:focus-within &__item:not(:focus-within) {
    filter: grayscale(100%) blur(0.1rem);
  }

  &__item {
    flex: 1;
    cursor: pointer;
    overflow: hidden;

    transition: all 200ms ease-in;

    &:hover,
    &:focus-within {
      & > * {
        transform: scale(1.2);
      }
    }

    @media screen and (max-width: 700px) {
      @include use-space(50%, none);
      flex: auto;
    }
    &--image {
      @include use-space();
      object-fit: cover;
    }
  }
}
