$accOrange: hsl(7, 99%, 70%);
$accYellow: hsl(51, 100%, 49%);
$accGreen: hsl(168, 34%, 41%);
$wrdDarkGreen: hsl(167, 40%, 24%);
$accBlue: hsl(198, 62%, 26%);
$accLightblue: hsl(200, 100%, 62%);

$bg300: hsl(0, 0%, 100%);
$bg400: $accGreen;

$wrd300: hsl(0, 0%, 100%);
$wrd400: hsl(210, 4%, 67%);
$wrd500: hsl(232, 10%, 55%);
$wrd600: hsl(213, 9%, 39%);
$wrd800: hsl(212, 27%, 19%);
$wrd900: hsl(210, 4%, 67%);

$wrdGreen: $wrdDarkGreen;
$wrdBlue: $accBlue;

$fontPrimary: "Barlow", sans-serif;
$fontSecundary: "Fraunces", serif;

.yellow {
  &::before {
    background-color: $accYellow;
  }
}

.orange {
  &::before {
    background-color: $accOrange;
  }
}
