@use "./utils/reset.scss";
@use "./utils/colors.scss" as *;
@use "./utils/utils.scss" as *;

@use "./components/header.scss";
@use "./components/pop_up";
@use "./components/info-section.scss";
@use "./components/duo-cards.scss";
@use "./components/testimonial-section";
@use "./components/images-gallery.scss";
@use "./components/footer";

/*  sass --watch ./styles/index.scss ./styles/styles.css */

:root {
  font-family: $fontPrimary;
  @media screen and (max-width: 600px) {
    font-size: $responsiveFontsize;
  }
}

*::after,
*::before,
* {
  transition: background-color 300ms ease, color 300ms ease,
    transform 300ms ease;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
  @include scrollbars(0.3em, $accBlue);
}

main {
  @include use-space(100%, 100%, $maxwidthMain);
  margin: 0 auto;
}

a {
  text-decoration: none;
}
