/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* RESET CSS ============================================= */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ======================================================== */
.yellow::before {
  background-color: hsl(51deg, 100%, 49%);
}

.orange::before {
  background-color: hsl(7deg, 99%, 70%);
}

.blue {
  color: hsl(198deg, 62%, 26%);
}

.green {
  color: hsl(167deg, 40%, 24%);
}

@keyframes jumpInfinite {
  0% {
    transform: translateY(10%);
  }
  50% {
    transform: translateY(5%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes appearFromTop {
  from {
    transform: translateY(-100vh);
  }
  to {
    transform: translateY(0vw);
  }
}
.info-section > * {
  opacity: 1;
}

.opacity-zero {
  opacity: 0;
}

header {
  width: 100vw;
  height: 49rem;
  max-width: 170rem;
  margin: 0 auto;
  position: relative;
}

.main-header {
  max-width: 100%;
  min-height: 6rem;
  position: relative;
  padding-inline: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: none;
  flex-flow: row nowrap;
}
.main-header__nav-list, .main-header-nav-wrap {
  display: flex;
  justify-content: none;
  align-items: center;
  gap: none;
  flex-flow: row nowrap;
}
.main-header__nav-list {
  gap: 3rem;
  font-size: 1.1rem;
}
.main-header__nav-list__item {
  color: hsl(0deg, 0%, 100%);
}
.main-header__nav-list__item:hover, .main-header__nav-list__item:focus-within {
  color: hsl(198deg, 62%, 26%);
}
.main-header__logo {
  width: 13rem;
  cursor: pointer;
}
.main-header__logo:hover, .main-header__logo:focus-within {
  transform: scale(1.05) rotate(5deg);
}
.main-header__button {
  font-family: "Fraunces", serif;
  font-size: 0.8rem;
  font-weight: 600;
  line-height: 1.6;
  color: hsl(212deg, 27%, 19%);
  letter-spacing: normal;
  text-transform: uppercase;
  margin-inline: 2.8rem;
  cursor: pointer;
  background-color: hsl(0deg, 0%, 100%);
  padding: 0.9rem 1.8rem;
  outline: none;
  border: none;
  border-radius: 4rem;
}
.main-header__button:hover, .main-header__button:focus-visible {
  color: hsl(0deg, 0%, 100%);
  background-color: rgba(255, 255, 255, 0.5);
}
.main-header__hamburguer {
  display: none;
  font-size: 3rem;
  color: hsl(0deg, 0%, 100%);
}
@media screen and (max-width: 800px) {
  .main-header__hamburguer {
    display: block;
  }
}

.hero-section {
  width: 100%;
  height: 43rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: none;
  flex-flow: row nowrap;
}
@media screen and (max-width: 600px) {
  .hero-section {
    font-size: 4rem;
  }
}
.hero-section__figure {
  width: 100%;
  height: 49rem;
  max-width: 170rem;
  position: absolute;
  top: 0;
  z-index: -10;
}
.hero-section__figure__image {
  width: 100%;
  height: 100%;
  max-width: 170rem;
  object-fit: cover;
}
.hero-section__text {
  width: 100%;
  height: 38rem;
  max-width: 170rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7rem;
  flex-flow: column nowrap;
  font-family: "Fraunces", serif;
  text-align: center;
}
.hero-section__text--title {
  cursor: default;
  position: relative;
  font-size: 3.2rem;
  font-weight: normal;
  line-height: 1.6;
  color: hsl(0deg, 0%, 100%);
  letter-spacing: 1rem;
  animation: appearFromTop 600ms cubic-bezier(0.82, 0.38, 0.27, 1.69) forwards;
}
.hero-section__text--title:hover::before {
  width: 100%;
}
.hero-section__text--title::before {
  content: "";
  width: 0%;
  height: 1.2rem;
  z-index: -1;
  position: absolute;
  left: 0;
  bottom: 0.8rem;
  border-radius: 1em;
  transition: width 100ms ease;
  background-color: hsl(7deg, 99%, 70%);
}
.hero-section__text--title a {
  text-decoration: none;
}
.hero-section__text--arrow-down {
  width: 3rem;
  cursor: pointer;
  animation: jumpInfinite 0.9s infinite alternate;
}

@media screen and (max-width: 800px) {
  .pop-up {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    flex-flow: column nowrap;
    width: clamp(10rem, 100%, 22rem);
    position: absolute;
    top: 100%;
    right: 2.3rem;
    z-index: 1000;
    padding-inline-start: 2rem;
    padding-block: 3.2rem;
    transform: scale(1) translateY(0%);
    transform-origin: top right;
    border-radius: 0.2rem;
    border-top: 2rem solid transparent;
    border-right: 2rem solid hsl(0deg, 0%, 100%);
    background-clip: padding-box;
    background-color: hsl(0deg, 0%, 100%);
  }
  .pop-up--list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: none;
    flex-flow: row nowrap;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    flex-flow: column nowrap;
  }
  .pop-up--nav__item {
    font-size: 1.8rem;
    font-weight: 900;
    line-height: normal;
    color: hsl(232deg, 10%, 55%);
    letter-spacing: normal;
    position: relative;
  }
  .pop-up--nav__item:hover::before {
    width: 100%;
  }
  .pop-up--nav__item::before {
    content: "";
    width: 30%;
    height: 0.7em;
    z-index: 10;
    position: absolute;
    left: 0;
    bottom: 0.8em;
    border-radius: 1em;
    transition: width 100ms ease;
  }
  .pop-up--nav__item:hover, .pop-up--nav__item:focus-within {
    color: #f0cc00;
  }
  .pop-up--nav__button {
    padding: 1.4rem 2rem;
    font-size: 1.5rem;
    background-color: hsl(51deg, 100%, 49%);
  }
  .pop-up--nav__button:hover, .pop-up--nav__button:focus-within {
    background-color: hsl(200deg, 100%, 62%);
  }
  .off {
    transform: scale(0) translateY(20%);
  }
}
.info-section {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
}
@media screen and (max-width: 600px) {
  .info-section .info-section__description:first-child {
    order: 1;
  }
}
.info-section:nth-of-type(even) .info-section__description:first-child {
  order: 1;
}
.info-section:not(.duo-cards) > *:hover + * img {
  transform: scale(1.2);
}
.info-section__description {
  width: 100%;
  height: 100%;
  max-width: none;
  max-height: 40rem;
  display: grid;
  place-items: center;
}
.info-section__description__container {
  max-width: 64%;
  padding: 5rem;
  text-align: left;
}
@media screen and (max-width: 900px) {
  .info-section__description__container {
    max-width: 80%;
    padding: 0;
    text-align: center;
    margin-block: 2.5rem;
  }
}
.info-section__description__container > *:not(:last-child) {
  margin-bottom: 2.5rem;
}
.info-section__description--title {
  font-family: "Fraunces", serif;
  font-size: 2.7rem;
  font-weight: 900;
  line-height: 1.2;
  color: hsl(212deg, 27%, 19%);
  letter-spacing: normal;
}
@media screen and (max-width: 600px) {
  .info-section__description--title {
    font-size: 2.8rem;
  }
}
.info-section__description--text {
  font-family: "Barlow", sans-serif;
  font-size: 1.15em;
  font-weight: normal;
  line-height: 1.7;
  color: hsl(232deg, 10%, 55%);
  letter-spacing: normal;
}
@media screen and (max-width: 600px) {
  .info-section__description--text {
    font-size: 1.7rem;
  }
}
.info-section__description--button {
  width: auto;
  position: relative;
  outline: none;
  padding: 1em;
  padding-inline: 0.5em;
  border: none;
  border-radius: 1em;
  background-color: transparent;
  font-family: "Fraunces", serif;
  font-size: 1.2em;
  font-weight: 900;
  line-height: nromal;
  color: hsl(212deg, 27%, 19%);
  letter-spacing: normal;
  cursor: pointer;
}
.info-section__description--button:hover::before {
  width: 100%;
}
.info-section__description--button::before {
  content: "";
  width: 30%;
  height: 0.7em;
  z-index: -5;
  position: absolute;
  left: 0;
  bottom: 0.8em;
  border-radius: 1em;
  transition: width 100ms ease;
}
@media screen and (max-width: 600px) {
  .info-section__description--button {
    font-size: 1.5rem;
  }
}
.info-section__figure {
  max-height: 40rem;
  max-width: 100%;
  overflow: hidden;
}
.info-section__figure, .info-section__figure__image {
  width: 100%;
  height: 100%;
}
.info-section__figure__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media screen and (max-width: 600px) {
  .info-section {
    grid-template-columns: 1fr;
    font-size: 1.1em;
  }
}

.duo-cards__card {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  font-size: clamp(1.2rem, 3vw, 5rem);
}
@media screen and (max-width: 900px) {
  .duo-cards__card {
    height: 100vh;
    max-height: 55rem;
    font-size: clamp(2.5em, 3vw, 5rem);
  }
}
.duo-cards__card:hover img, .duo-cards__card:focus-within img {
  transform: scale(1.05);
}
.duo-cards__card:hover > .duo-cards__card__info, .duo-cards__card:focus-within > .duo-cards__card__info {
  transform: translateX(-50%) translateY(-5%);
}
.duo-cards__card__figure--image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.duo-cards__card__info {
  max-width: 90%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 58%;
  text-align: center;
}
@media screen and (max-width: 600px) {
  .duo-cards__card__info {
    width: 100%;
    height: fit-content;
    max-width: 90%;
    top: 65%;
  }
}
.duo-cards__card__info--title {
  margin-bottom: 10%;
  font-family: "Fraunces", serif;
  font-size: 0.9em;
  font-weight: 900;
  line-height: 1.3;
  color: inherit;
  letter-spacing: normal;
}
@media screen and (max-width: 600px) {
  .duo-cards__card__info--title {
    font-size: 2rem;
  }
}
.duo-cards__card__info--description {
  font-family: "Barlow", sans-serif;
  font-size: 0.4em;
  font-weight: normal;
  line-height: 1.7;
  color: inherit;
  letter-spacing: normal;
}
@media screen and (max-width: 600px) {
  .duo-cards__card__info--description {
    font-size: 1.4rem;
  }
}

.client-testimonials {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5em;
  flex-flow: column nowrap;
  font-size: 0.8rem;
  padding-block: 8.6rem;
  font-size: clamp(0.8rem, 1.2vw, 0.9rem);
}
@media screen and (max-width: 600px) {
  .client-testimonials {
    font-size: 1.2rem;
  }
}
.client-testimonials > h3 {
  font-family: "Fraunces", serif;
  font-size: 1.5em;
  font-weight: 600;
  line-height: normal;
  color: hsl(210deg, 4%, 67%);
  letter-spacing: 0.5em;
  text-align: center;
}
.client-testimonials__list {
  width: auto;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6em;
  flex-flow: row wrap;
  margin: 0 auto;
}
.client-testimonials__list:hover .client-testimonials__list__item:not(:hover), .client-testimonials__list:focus-within .client-testimonials__list__item:not(:focus-within) {
  filter: blur(0.1rem) grayscale(1);
  transform: translatey(1.5%);
}
@media screen and (max-width: 600px) {
  .client-testimonials__list {
    gap: 6em;
  }
}
.client-testimonials__list__item {
  width: 23em;
  height: 25em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: none;
  flex-flow: column;
  padding-block: 3em;
  text-align: center;
  cursor: default;
}
.client-testimonials__list__item:hover, .client-testimonials__list__item:focus-within {
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0.3em 0px;
}
@media screen and (max-width: 600px) {
  .client-testimonials__list__item {
    height: 21em;
  }
}
.client-testimonials__list__item--image {
  max-width: 5.5em;
  border-radius: 100vw;
}
.client-testimonials__list__item--image:hover, .client-testimonials__list__item--image:focus-within {
  transform: scale(1.08);
}
.client-testimonials__list__item--caption {
  font-size: 1.2em;
  font-weight: 600;
  line-height: 1.6;
  color: hsl(213deg, 9%, 39%);
  letter-spacing: normal;
}
.client-testimonials__list__item--footer h4 {
  font-family: "Fraunces", serif;
  font-size: 1.3em;
  font-weight: 800;
  line-height: 2;
  color: hsl(212deg, 27%, 19%);
  letter-spacing: normal;
  margin-bottom: 1em;
}
.client-testimonials__list__item--footer h4:hover, .client-testimonials__list__item--footer h4:focus-within {
  color: hsl(7deg, 99%, 70%);
}
.client-testimonials__list__item--footer > small {
  font-size: normal;
  font-weight: 600;
  line-height: normal;
  color: hsl(210deg, 4%, 67%);
  letter-spacing: normal;
}

.image-gallery {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: none;
  align-items: none;
  gap: none;
  flex-flow: row nowrap;
}
@media screen and (max-width: 700px) {
  .image-gallery {
    display: flex;
    justify-content: none;
    align-items: none;
    gap: none;
    flex-flow: row wrap;
  }
}
.image-gallery:hover .image-gallery__item:not(:hover), .image-gallery:focus-within .image-gallery__item:not(:focus-within) {
  filter: grayscale(100%) blur(0.1rem);
}
.image-gallery__item {
  flex: 1;
  cursor: pointer;
  overflow: hidden;
  transition: all 200ms ease-in;
}
.image-gallery__item:hover > *, .image-gallery__item:focus-within > * {
  transform: scale(1.2);
}
@media screen and (max-width: 700px) {
  .image-gallery__item {
    width: 50%;
    height: none;
    flex: auto;
  }
}
.image-gallery__item--image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-footer {
  width: 100%;
  height: 40rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  flex-flow: column nowrap;
  background-color: hsl(167deg, 44%, 70%);
}
.main-footer__logo {
  width: 15rem;
  cursor: pointer;
  transition: filter 150ms ease-in;
  filter: brightness(0) saturate(100%) invert(32%) sepia(64%) saturate(381%) hue-rotate(118deg) brightness(97%) contrast(89%);
}
.main-footer__logo:hover, .main-footer__logo:focus-visible {
  filter: none;
}
.main-footer__navbar {
  margin-block-end: 5rem;
}
.main-footer__navbar__list {
  display: flex;
  gap: 5.5rem;
}
.main-footer__navbar--item {
  font-size: 1.3rem;
  color: hsl(167deg, 40%, 24%);
  cursor: pointer;
}
.main-footer__navbar--item:hover, .main-footer__navbar--item:focus-visible {
  color: hsl(0deg, 0%, 100%);
}
.main-footer__social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
  flex-flow: row nowrap;
}
.main-footer__social-media--link:hover > *, .main-footer__social-media--link:focus-visible > * {
  transform: translateY(-50%) rotate(360deg);
  filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(162deg) brightness(108%) contrast(101%);
}
.main-footer__social-media--image {
  width: 1.6rem;
  cursor: pointer;
}

/*  sass --watch ./styles/index.scss ./styles/styles.css */
:root {
  font-family: "Barlow", sans-serif;
}
@media screen and (max-width: 600px) {
  :root {
    font-size: 3vw;
  }
}

*::after,
*::before,
* {
  transition: background-color 300ms ease, color 300ms ease, transform 300ms ease, opacity 300ms ease-in;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body::-webkit-scrollbar {
  width: 0.3em;
  height: 0.3em;
}
body::-webkit-scrollbar-thumb {
  background: hsl(198deg, 62%, 26%);
}
body::-webkit-scrollbar-track {
  background: #8ca9b5;
}
body {
  scrollbar-face-color: hsl(198deg, 62%, 26%);
  scrollbar-track-color: #8ca9b5;
}

main,
footer {
  width: 100%;
  height: 100%;
  max-width: 170rem;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

/*# sourceMappingURL=styles.css.map */
